
body{
    background-color:darkgray;
}

#content-wrapper{
background-color: #212529 !important;
}

/* to center any element */
.center{
    text-align: center;
 }

 /* for tables */
 .selected{
    background: #6096B4 !important;
    color: white !important;
 }

 .site-form{
    margin:5%;
 }
 .site-form-table{
    margin:1%;
 }

 .site-form label{
    box-sizing: border-box;
    max-width: 15%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    flex: 0 0 auto;
    width: 16.66666667%;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
 }
 .site-form input[type=text]{
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    display: inline-block;
    margin: 20px 0; 
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 80%;
 }




