{% include 'parts/head.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> 

<body class="d-flex h-100 text-center text-bg-dark">
    <main class="form-signin w-100 m-auto">
        <form class="site-form" method="post" action="{% url 'users:login' %}">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            {% csrf_token %}

            {% comment %} to save the after login distenation {% endcomment %}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}"
            {% endif %}

            {{form}}
            
            <input class="w-100 btn btn-lg btn-success" type="submit" value=" Login ">
        </form>
    </main>
    
</body>


